.game-status {
  font-size: 7vw;
  text-align: center;
}

.game-active {
  background-color: #009900;
}

.game-waiting {
  background-color: red;
}

.player-registered {
  background-color: #009900;
}

.player {
  padding: 3vh;
  font-size: 7vw;
}

.player-name {
  font-size: 10vw;
}

.last-games {
  font-size: 2vw;
}

.last-games .game {
  padding: 0.4vw;
}
